@import "variables.less";
@import "mixins.less";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic);

// GLOBAL
//------------------------------------

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font: @base-font-size @font;
  font-weight: 400;
  line-height: 26px;
  background-color: @white;
  color: @grey;
}

img { width: 100%; }

// TYPE
//------------------------------------

h1, h2, h3, h4, h5 { 
  font-weight: 500; 
}

h3 {
  display: inline-block;
  .type(@h3-font-size,normal,400);
  padding: 0 0 0 0;
  margin-bottom: 27px;
  border-bottom: solid 2px @orange;
}

ul { 
  padding: 0;
  margin: 0;
  li { display: inline-block; }
}

a { color: @white; }

.fa {
  color: @orange;
  font-size: 25px;
}

h2 {
  color:@white;
  display: inline-block;
  background-color: rgba(0,0,0,0.4);
  font-size: 38px;
  line-height:2em;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin: 0;
}

// SECTIONS
//------------------------------------

.container {
  width: @total-width;
  max-width: @gridsystem-width;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

section, header, footer {
  width: 100%;
}

// Header
//------------------------------------

header {
  padding: 140px 0 0 0;
  min-height: 490px;
  &.home { background: url('../img/banner-home.jpg') no-repeat; background-size: cover;}
  &.about { background: url('../img/banner-about.jpg') no-repeat; background-size: cover;}
  &.services { background: url('../img/banner-services.jpg') no-repeat; background-size: cover;}
  p {
    color: @white;
    font-weight: 300;
  }
}

#navbar { 
  background-color: @white;
  min-height: 90px;

  .container { padding: 35px 0;}

  ul { 
    float: right; 
    a { 
      .type(@base-font-size, 12px, 500);
      color: @dark-grey;
      padding: 0 15px;
      display: inline-block;
      text-transform: uppercase;
      &:hover { color: @orange; }
      &.current {
        color: @orange;
      }
    }
  }

  h1 a { 
    color: @white;
    text-transform: uppercase;
    .brightE { color: @orange; }
  }
}

nav .fa-bars {
  display: none;
}

// Content
//----------------------------

.content {
  .padding(55px, 0, 55px, 0);
  background-color: @white;

  ul { 
    li {
      .column(3);
    }
  }
}

#services li {
  h4 {
    .type(@h4-font-size,22px,300); 
    margin: 20px 0;
  }
  p { 
    .type(@tiny-font-size,19px,400); 
    text-align: left;
    padding: 0 20px;
  }
}

#recent li {
  background-color: @light-grey;
  color: @dark-grey;
  text-align: right;
  border: #e0dddd solid 1px;
  span { 
    width: 90%;
    display: block;
    margin: 0 auto 15px auto;
  }
  h5 {
    border-bottom: #e0dddd solid 1px;
    padding: 0 0 5px 0;
    margin:0 0 5px 0;
    font-size: 16px;
    color: @orange;
  }
  img {
    width: 100%;
    border-bottom: #e0dddd solid 1px;
  }
}

.blurb {
  font-size: @blurb-font-size;
  margin-bottom: 33px;
}

h3, h4 {
  color: @dark-grey;
}


// Promo
//----------------------------

#promo {
  background-color: @orange;
  color: @white;
  font-size: @sub-head;
  a {
    color: @white;
    border-bottom: @white solid 1px;
    text-transform: uppercase;
    &:hover { 
      color: @grey; 
      border-color: @grey;
    }
  }
}

// About
//----------------------------

.greybg {
  background-color: #f6f6f6;
}

#team {
  .position { color: @dark-grey; }
  ul {
    margin-bottom: 20px;
    li {
      .column(3);
    }
  }

  h4 { margin: 0; }
  .position { color: @grey; }
}

.member-img {
  border: 1px solid #c8c9c9;
  border-radius: 50%;
  display: inline-block;
  img {
    border-radius: 50%;
    display: block;
  }
}

.col {
  .column(6);
  text-align: left;
  h3 {
    margin: 0;
  }
}

#guarantee {
  .padding(25px, 0, 25px, 0);
}
// Footer
//----------------------------

footer {
  color: @white;
  background-color: @orange; 
}


// MEDIA QUERIES 
//----------------------------
// Portrait tablet and small desktops

@media (max-width: 940px) {
  .container {
    padding: 40px 15px;
  }

  #topbar .container {
    padding: 60px 15px;
  }

  h2 { 
    font-size: @h3-font-size;
  }


  #team ul li, .content ul li {
    .column(6);
    margin-bottom: 20px;
  }
}

// Landscape phone to portrait tablet --------
@media (max-width: 767px) {


  .col {
    .column(12);
  }


  p { font-size: 14px; }

  h1 { 
    width: 100%;
  }
  
  #navbar ul { float: none;}
  nav .fa-bars {
    text-align: center;
    display: block;
    padding: 20px 0;
    cursor: pointer;    
    &.current {
      padding: 5px 10px;
    }
  }
  
    nav ul.dropdown {
    display: none;
  }

    nav ul.dropdown li {
    display: block;
    border-top: 1px solid white;
  }
  nav ul.dropdown a {
    color: white;
    padding-left: 15px;
  }
  nav ul.dropdown a:hover {
    color: #444;
  }
  nav ul.dropdown.open {
    display: block;
  }


}

// Landscape phones and down
@media (max-width: 480px) {

  #team ul li, 
  .content ul li {
    .column(12);
    margin-bottom: 20px;
  }

  .container {
    padding: 30px 15px;
  }

  .col, #gallery li { 
    .column(12);
    margin-bottom: 1.25%;
  }

  h2 {
    font-size: @h4-font-size;
  }

  h3 {
    font-size: @sub-head;
  }

// Navigation
//----------------------------

#topbar { 
  height: auto;
  nav {
    ul.dropdown {
      display: none;
      text-align: left;
      li {
        display: block;     
        margin: 10px;
      }
      a {
        color: white;
        border: none;
        &:hover {
          color: @orange;
          font-weight: 400; 
        }
      }
      &.open {
        display: block;
      }
    }
    a { 
      font-size: 12px;
      padding: 5px 10px;
    }
  }
}

}

// Portrait phone down
@media (max-width: 320px) {

}









